@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border: 3px solid black;
  border-right: 0;
}
select,
input,
textarea {
  border: 1px solid gray;
  outline-color: black;
  border-radius: 4px;
}
